# /etc/systemd/system/dns44.service
[Unit]
Description=IPv4 to IPv4 mapping DNS server.
After=network.target network-online.target
Requires=network-online.target

[Service]
EnvironmentFile=/etc/default/dns44
ExecStart=/usr/local/bin/dns44 $OPTIONS
Restart=always
KillMode=process
TimeoutStartSec=5
TimeoutStopSec=5

[Install]
WantedBy=default.target
